@import url('./fontawesome/icon/main.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root{
  --light:#ffffff;
  --dark:rgb(29, 29, 29);
  --blue-light:#2e9ae2;
  --blue-linear:linear-gradient(to right, rgb(17, 160, 226) , rgb(6, 36, 92));
   --blue:#1b70d8; 
   --silver:#e6e1e1;
   --silver-light:rgb(241, 239, 239);
   --grey:rgb(172, 168, 168);
   --purple:rgb(182, 37, 146);
   --gold:rgb(255, 187, 0);
}

a{
  text-decoration: none;
}

li , ul{
  list-style: none;
}

button{
border: none;
outline:none;
}

input{
  font-size:16px;
  outline: none;
  transition:2s;
  outline: none;
  border: none;
}


img, video {
  width:100%;
  height:100%;
  object-fit: cover;
}
 


.row{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  flex-wrap: wrap; 
  -ms-flex-wrap: wrap;
}


.bg-blue{
  background:var(--blue);
  color:var(--light);
}

.btn{
  padding:15px 20px;
   font-size:16px;
   border-radius:30px;
   cursor: pointer;
   letter-spacing:1px;
   transition:all 1s ease-in-out;
   box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.btn i{
  font-size:20px; 
  margin-left:10px;
}

.btn:hover{
  box-shadow:0 3px 10px rgba(51, 104, 202, 0.4);
  background:var(--light);
  color:var(--blue);
}

.container{
  max-width:1200px;  
  padding:20px;
  margin:0 auto; 
}


.text-center{
  text-align: center;
}

 